@import '../mixins';
@import '../variable';
@import '../function';

#quickBuy {
    $height: 2rem;
    width: 300px;
    background: #333;
    padding: 2rem 0;
    @include select($height);
    select,
    input {
        padding: 0 0 0 2.5rem;
    }
    .select {
        background-color: #DDD;
        &::before {
            $size: 1.3rem;
            content: '';
            width: $size;
            height: $size;
            position: absolute;
            top: ($height - $size)/2;
            left: .5rem;
            color: #000;
            pointer-events: none;
        }
        &:hover, &:active {
            background-color: #FFF;
        }
        input[type=date] {
            width: calc(100% - 1rem);
            &::-webkit-clear-button, &::-webkit-inner-spin-button {
                display: none;
            }
            &::-webkit-calendar-picker-indicator {
                cursor: pointer;
            }
        }
    }
}