.slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  figure {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background: #999;
  }
  img {
    max-width: 100%;
    object-fit: cover;
    transition: opacity .3s ease;
  }
  img[data-src] {
    opacity: 0;
  }
  img:not([data-src]) {
    opacity: 1;
  }
  ul {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 20;
    li {
      $size: .8rem;
      display: inline-block;
      border-radius: 50%;
      width: $size;
      height: $size;
      background: #FFF;
      opacity: .5;
      box-shadow: 1px 1px 3px #666;
      cursor: pointer;
      transition: opacity .3s;
      &.active, &:hover {
        opacity: 1;
      }
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}