extends ../components/_layout

block config
    - let navName = 'Home'

block content
    main
        include ../components/_quickBuy
        include ../components/_slideshow
        script.
            const slideshow = document.querySelector('.slideshow');
            const slides = slideshow.querySelectorAll('.slide');