doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    meta&attributes({name: 'viewport', content: 'width=device-width, initial-scale=1.0'})
    meta&attributes({'http-equiv': 'X-UA-Compatible', content: 'ie=edge'})
    title Luna - Movie Ticket Booking
    link(rel="stylesheet" href="./assets/css/global.css")
body
    block config
    include _nav
    block content
        main
    include _footer