#quickBuy
    - const cinemas = ['Choose Cinema', 'Odeon Cinema', 'Lewisham', 'Phoenix Cinema', 'London Imax']
    - const movies = ['Choose Movie', 'Venom', 'A Star is Born', 'Project Gutenberg', 'First Man', 'Johnny', 'Smallfoot']
    - const slots = ['Choose Time', '09:00 ~ 11:30', '13:00 ~ 15:30', '15:30 ~ 18:00', '18:00 ~ 20:30', '21:00 ~ 23:30']

    label.select(for='cinema' data-icon-before='location')
        select#cinema(name='cinema')
            each cinema, id in cinemas
                option(value=id)= cinema

    label.select(for='movie' data-icon-before='movie')
        select#movie(name='movie')
            each movie, id in movies
                option(value=id)= movie

    label.select(for='date' data-icon-before='date')
        input(type='date')

    label.select(for='slot' data-icon-before='time')
        select#slot(name='slot')
            each slot, id in slots
                option(value=id)= slot