$icons: location movie date time imax dolby credit visa paypal mastercard sort child region genre bin;
$active_icons: none bin;
@each $icon in $icons {
    [data-icon=#{$icon}] {
        content: url(../../images/icons/#{$icon}.svg);
    }
    [data-icon-after=#{$icon}]::after,
    [data-icon-before=#{$icon}]::before {
        background: url(../../images/icons/#{$icon}.svg) center / cover no-repeat;
    }
}

@each $icon in $active_icons {
    [data-icon-after=#{$icon}]:hover::after,
    [data-icon-before=#{$icon}]:hover::before {
        transition: background;
        background: url(../../images/icons/#{$icon}_active.svg) center / cover no-repeat;
    }
    *:hover > [data-icon] {
        content: url(../../images/icons/#{$icon}_active.svg);
    }
}