@import "variable";
@import "function";

@mixin select() {
  .select {
    $height: 2rem;
    width: 100%;
    background: #FFF;
    display: block;
    position: relative;
    line-height: $height;
    height: $height;
    margin-bottom: 1rem;
    padding: 0 1rem;
    -webkit-user-select: none;
    user-select: none;
    transition: transform .2s ease;
    span {
      display: block;
      width: 100%;
      padding-right: 2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      right: 1rem;
      border: 6px solid transparent;
      border-top-color: #000;
      height: 0;
      width: 0;
      pointer-events: none;
      transition: all .2s ease-in;
    }
    &:hover::after {
      transform: scaleY(-1);
      transform-origin: 50% 25%;
    }
    &.active {
      span {
        font-weight: bold;
      }
      .select-menu {
        display: block;
      }
    }
    .select-menu {
      position: absolute;
      display: none;
      left: 0;
      top: $height;
      width: 100%;
      z-index: 30;
      max-height: 8*$height;
      overflow-y: auto;
      li {
        width: 100%;
        height: $height;
        background: #EEE;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 1rem;
        &.active {
          color: color(primary);
          font-weight: bold;
        }
        &:hover {
          background: #DDD;
        }
      }
    }
  }
}

@mixin raised-button() {
  .raised-button {
    padding: .5rem 1rem;
    color: #333;
    width: 6rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    background: #999;
    overflow: hidden;
    position: relative;
    &:active {
      transform: translateY(2px);
    }
    span {
      z-index: 10;
      position: relative;
    }
    &::after {
      content: '';
      display: block;
      background: #FFF;
      opacity: .2;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      bottom: -90%;
      transition: bottom .2s ease-in;
    }
    &:hover {
      background: #666;
      &::after {
        bottom: 0;
      }
    }
    &:last-child {
      margin-left: 1rem;
    }
    &.primary {
      background: color(primary);
      transition: background-color .3s ease, color .3s ease;
      &:disabled {
        background: #666;
        color: #000;
        &::after {
          bottom: -90%;
        }
      }
    }
  }
}

@mixin nav_text() {
  text-transform: uppercase;
  position: relative;
  color: color(primary);
  width: 100%;
  display: block;
  text-align: center;
  opacity: .6;
  transition: opacity .3s ease;
  &.active, &:hover {
    opacity: 1;
  }
  &.active {
    font-weight: 600;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    visibility: hidden;
    width: 0;
    border-bottom: 2px solid color(primary);
    bottom: 20%;
    left: 50%;
    transition: all .3s ease-in;
  }
  &:hover {
    &::after {
      content: '';
      display: block;
      width: 50%;
      left: 25%;
      visibility: visible;
    }
  }
}

@mixin header() {
  text-transform: uppercase;
  font-size: 1.5rem;
  opacity: 1;
  color: #FFF;
  text-align: left;
  width: 8rem;
  line-height: 2;
  position: relative;
  margin-bottom: 1rem;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 60%;
    left: 20%;
    border-bottom: 2px solid color(primary);
    bottom: 10%;
    transition: all .3s ease-in;
  }
}