@import "normalize";
@import "function";
@import "icons";
@import "mixins";

$navHeight: 4rem;
nav {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: color(primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: $navHeight;
  a {
    height: 100%;
  }
  h1 {
    margin: 0;
    text-indent: -10000px;
    background: url(../../images/logo.svg) center / 60% no-repeat;
    width: $navHeight;
    height: 100%;
  }
  ul {
    list-style: none;
    height: 100%;
    margin: 0;
    li {
      display: inline-block;
      position: relative;
      height: 100%;
      min-width: 5rem;
      cursor: pointer;
      a {
        @include nav_text();
        line-height: $navHeight;
      }
    }
  }
}

.left-nav, .right-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

main {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  padding-top: $navHeight;
  overflow: visible;
  padding-bottom: 1rem;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 0 5%;
  height: 3rem;
  background: #111;
  line-height: 3rem;
  color: #aaa;
  p {
    margin: 0;
  }
}


.search-bar {
  position: relative;
  margin-right: 1rem;
  #search {
    &::-webkit-input-placeholder {
      color: #666;
    }
    background: transparent;
    border: none;
    color: #FFF;
    padding: .5rem 1rem;
    border-bottom: 1px solid #666;
    outline: none;
    width: 18rem;
    transition: border-color .3s ease;
    letter-spacing: 1px;
    &:focus {
      border-color: color(primary);
    ~ button i {
        content: url('../../images/icons/search_active.svg');
      }
    }
  }
  margin-right: 1rem;
  button {
    position: absolute;
    right: 0;
    top: calc(50% - .5rem);
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    i {
      width: 1rem;
    }
  }
}

.right-nav {
  .profile {
    min-width: 8rem;
    $size: 3rem;
    text-align: right;
    display: flex;
    align-items: center;
    color: #DDD;
    h4 {
      font-size: 1.3rem;
      line-height: 1.5rem;
      white-space: nowrap;
    }
    button {
      font-size: 1.3rem;
      transition: width .3s ease;
      background: transparent;
      border: none;
      outline: none;
      color: #999;
      padding: 0;
      cursor: pointer;
      display: inline-block;
      line-height: $navHeight;
      white-space: nowrap;      &:hover {
        color: color(primary);
      }
      i {
        width: 1.3rem;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    h4 + button {
      font-size: 1rem;
      line-height: 1.2rem;
      i {
        width: 1rem;
      }
    }
    .user-pic {
      display: block;
      margin-left: 1rem;
      width: $size;
      height: $size;
      background: #333 url(../../images/icons/avatar.svg) center / cover no-repeat;
      float: right;
      border-radius: 50%;
      border: 1px solid color(primary);
      transition: all .3s ease;
      &:hover {
        background-color: #555;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    }
  }
}